<%= form_with(model: aritcle) do |form| %>
  <% if aritcle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aritcle.errors.count, "error") %> prohibited this aritcle from being saved:</h2>

      <ul>
        <% aritcle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
